{% extends 'index.html' %}
{% block title %}all posts // {{ super() }}{% endblock title %}
{% block pagetitle %}all posts{% endblock pagetitle %}


{% block content %}
    <div class="pure-u-1">
        <div class="content">
            <h1 class="content-subhead">All posts</h1>
            {% for article in dates %}
                <div class="archive-item">
                    <h5 class="archive-date">{{ article.date|strftime('%Y') }}</h5>
                    <h4 class="archive-date">{{ article.date|strftime('%d %B') }}</h4>
                    <div class="archive-post"><a href="../{{ article.url }}">{{ article.title }}</a></div>
                </div>
            {% endfor %}
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock %}
