{% extends 'base.html' %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">
                    {% block pagetitle %}
                        {% if not articles_page.has_previous() %}
                            Latest posts
                        {% else %}
                            Posts
                        {% endif %}
                    {% endblock pagetitle %}
                    {% if articles_page.has_previous() %}
                        &ndash; Page&nbsp;{{ articles_page.number }}
                    {% endif %}
                </h1>
                {% for article in articles_page.object_list %}
                    {# Include's latex math only if an article in the index has it present #}
                    {% if article and article.latex and latex is not defined %}
                        {% set latex = True %}
                        {{ article.latex }}
                    {% endif %}
                    <section class="post">
                        <header class="post-header">
                            <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                            <p class="post-meta">{{ article.summary }}</p>
                        {% if HIDE_CATEGORIES %}
                            <p class="post-meta">// tag {% for tag in article.tags %}
                                <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                                {% endfor %} &middot; {{ article.locale_date }}
                            </p>
                        {% else %}
                            <p class="post-meta">
                                in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> &middot; {{ article.locale_date }}
                            </p>
                        {% endif %}
                        </header>
                    </section>
                {% endfor %}
                {% include 'pagination.html' %}
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
